@model VmBlogs
@{
    ViewData["Title"] = "Detail";
}


<div class="main-wrapper">
    <!--Title Bar -->
    <partial name="_BannerPartial" model="Model.Banner" />

    <!-- Content -->
    <div class="content">
        <div class="container">
            <!-- Blog Posts -->
            <div class="blog-page">
                <div class="row">
                    <!-- Post Content -->
                    <div class="col-lg-9 col-md-8 padding-right-30">
                        <!-- Blog Post -->
                        <div class="blog-post single-post">
                            <!-- Img -->
                            <img class="post-img img-fluid" src="~/Uploads/@Model.Blog.Image" alt="image">
                            <!-- Content -->
                            <div class="post-content">
                                <h3>@Model.Blog.Name</h3>
                                <ul class="post-meta">
                                    <li>@Model.Blog.CreatedDate.ToString("MMMM dd,yyyy")</li>
                                    <li><a>@Model.Comments.Count Comments</a></li>
                                </ul>
                                @Model.Blog.Title
                            </div>
                        </div>
                        <!-- Blog Post / End -->
                        
                        <!-- About Author -->
                        <div class="about-author">
                            <img src="~/Uploads/@Model.CustomUser.Image" alt="image" />
                            <div class="about-description">
                                <h4>@Model.CustomUser.Name</h4>
                                <p>@Model.CustomUser.Title</p>
                            </div>
                        </div>
                        <div class="margin-top-50"></div>
                        <!-- Reviews -->
                        <section class="comments">
                            <h4 class="headline margin-bottom-35">Comments <span class="comments-amount">(@Model.Comments.Count)</span></h4>
                            @foreach (var item in Model.Comments)
                            {
                                <div class="row py-4 list-img-wrap">
                                    <div class="col-md-2 list-img"><img class="img-fluid rounded-circle shadow-lg" src="~/Uploads/@Model.CustomUser.Image" alt="image"></div>
                                    <div class="col-md-10">
                                        <h5 class="text-primary"> @item.Name </h5>
                                        <p>
                                            @if (((DateTime.Now - item.CreatedDate).TotalSeconds / 60 / 60 / 24) >= 1)                                            
                                                {@((((DateTime.Now - item.CreatedDate).TotalSeconds / 60 / 60 / 24).ToString("##") + " days ago").ToString());
                                            }
                                            else
                                                {
                                                if (((DateTime.Now - item.CreatedDate).TotalSeconds / 60 / 60) >= 1)

                                                    { @((((DateTime.Now - item.CreatedDate).TotalSeconds / 60 / 60).ToString("##") + " hours ago").ToString());
                                                }
                                                else
                                                {
                                                    @if (((DateTime.Now - item.CreatedDate).TotalSeconds / 60) >= 1)
                                                        {@((((DateTime.Now - item.CreatedDate).TotalSeconds / 60).ToString("##") + " minutes ago").ToString());
                                                     }
                                                    else
                                                        { @((((DateTime.Now - item.CreatedDate).TotalSeconds).ToString("##") + " seconds ago").ToString());
                                                    }
                                                }
                                            }
                                        </p>
                                        <p>
                                            @item.Content
                                        </p>
                                    </div>
                                </div>
                            }
                        </section>
                        <div class="clearfix"></div>
                        <!-- Add Comment -->
                        <div id="add-review" class="add-review-box mt-4">
                            <!-- Add Review -->
                            <h3 class="listing-desc-headline mb-4">Add Review</h3>
                            <!-- Review Comment -->
                            <form id="add-comment" class="add-comment" asp-controller="BlogList" asp-action="Comment" method="post">
                                <fieldset>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input asp-for="@Model.Comment.Name" placeholder="Name" class="form-control form-control-alternative">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input asp-for="@Model.Comment.Email" placeholder="Email" class="form-control form-control-alternative">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input asp-for="@Model.Comment.Subject" placeholder="Subject" class="form-control form-control-alternative">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="">
                                        <div class="form-group">
                                            <textarea asp-for="@Model.Comment.Content" class="form-control form-control-alternative" placeholder="Comment" rows="3"></textarea>
                                        </div>
                                    </div>
                                </fieldset>
                                <input type="hidden" asp-for="@Model.Comment.BlogId" value="@Model.Blog.Id" />
                                <button class="mt-4 btn btn-primary" type="submit">Submit Comment</button>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                        <!-- Add Review Box / End -->
                    </div>
                    <!-- Content / End -->
                    <!-- Widgets -->
                    <div class="col-lg-3 col-md-4">
                        <div class="sidebar right">
                            <!-- Widget -->
                            <!--<div class="widget">
                                <h3 class="margin-top-0 margin-bottom-25">Search Blog</h3>
                                <div class="form-group">
                                    <div class="input-group mb-4">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-search"></i></span>
                                        </div>
                                        <input class="form-control" placeholder="Search" type="text">
                                    </div>
                                </div>
                            </div>-->
                            <!-- Widget / End -->
                            <!-- Widget -->
                            <div class="widget mb-4">
                                <h3>My Posts</h3>
                                <ul class="widget-tabs">
                                    @foreach (var item in Model.Blogs)
                                    {
                                        <li>
                                            <div class="widget-content">
                                                <div class="widget-thumb">
                                                    <a asp-controller="BlogList" asp-action="Detail" asp-route-id="@item.Id"><img src="~/Uploads/@item.Image" alt="image"></a>
                                                </div>
                                                <div class="widget-text">
                                                    <h5><a asp-controller="BlogList" asp-action="Detail" asp-route-id="@item.Id">@item.Name</a></h5>
                                                    <span>@item.CreatedDate.ToString("MMMM dd, yyyy")</span>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                            <!-- Widget / End-->
                            <!-- Widget -->
                            <div class="widget margin-top-40">
                                <h3 class="margin-bottom-25">Follow Us</h3>
                                <div class=" btn-wrapper">
                                    @foreach (var item in Model.Socials)
                                    {
                                        <a target="_blank" href="@item.Link" class="btn btn-neutral btn-icon-only btn-twitter btn-round btn-lg" data-toggle="tooltip" data-original-title="Follow us">
                                            <i class="@item.Icon"></i>
                                        </a>
                                    }
                                </div>
                            </div>
                            <!-- Widget / End-->
                            <div class="clearfix"></div>
                            <div class="margin-bottom-40"></div>
                        </div>
                    </div>
                </div>
                <!-- Sidebar / End -->
            </div>
        </div>
    </div>
</div>