@model VmHome
@{
    ViewData["Title"] = "Home Page";
}


<div class="position-relative">
    <section class="section section-lg section-hero section-shaped">
        <div class="shape shape-style-1 shape-primary">
            <span class="span-150"></span>
            <span class="span-50"></span>
            <span class="span-50"></span>
            <span class="span-75"></span>
            <span class="span-100"></span>
            <span class="span-75"></span>
            <span class="span-50"></span>
            <span class="span-100"></span>
            <span class="span-50"></span>
            <span class="span-100"></span>
            <div class="overlay-bg"></div>
        </div>
        <div class="container shape-container d-flex align-items-center py-lg">
            <div class="main-search-inner">
                <h2 class="text-white display-2">Find Nearby Attractions</h2>
                <h4 class="text-white">Expolore top-rated attractions, activities and more</h4>
                <div class="main-search-input">
                    <div class="main-search-input-item">
                        <input type="text" placeholder="What are you looking for?" value="" />
                    </div>
                    <div class="main-search-input-item location">
                        <div id="autocomplete-container">
                            <input id="autocomplete-input" type="text" placeholder="Location">
                        </div>
                        <a href="#"><i class="fa fa-map-marker"></i></a>
                    </div>
                    <a href="#" class="btn main-search-btn btn-radius btn-lg btn-white">
                        <span class="btn-inner--text">Search</span>
                    </a>
                </div>
            </div>
        </div>
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew zindex-100">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </section>
</div>
<div class="block-space">
    <div class="container">
        <div class="block-head text-center mb-5">
            <h2 class="head-line display-3">
                Restaurants in Website
            </h2>
            <p class="lead mt-2 head-desc">Browse the most desirable restaurants</p>
        </div>
    </div>
    <!-- Categories Carousel -->
    <div class="fullwidth-carousel-container">
        <div class="fullwidth-slick-carousel category-carousel">
            <!-- Item -->
            @foreach (var item in Model.Restaurants)
            {
                <div class="fw-carousel-item">
                    <div class="category-box-container text-center">
                        <div class="category-box">
                            <div class="category-box-content">
                                <div class="icon-title">
                                    <i class="fa-2x fa fa-glass"></i>
                                </div>
                                <h3>
                                    <a asp-controller="Restaurant" asp-action="Index" class="text-white">
                                        @item.Name
                                    </a>
                                </h3>
                            </div>
                            <div class="category-box-background" style="background-image: url(/wwwroot/assets/images/)">
                            </div>
                        </div>
                    </div>
                </div>            
            }
        </div>
    </div>
</div>
<div class="block-space bg-secondary">
    <div class="container">
        <div class="block-head text-center mb-5">
            <h2 class="head-line display-3">
                Most Visited Places
            </h2>
            <p class="lead mt-2 head-desc">Discover top-rated local businesses</p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="simple-slick-carousel dots-nav">

                    @foreach (var item in Model.Restaurants)
                    {
                        <div class="carousel-item">
                            <div class="category-box-container">
                                <div class="listing-item-container">
                                    <div class="listing-item">
                                        <div class="mostviewed-bg" style="background-image: url('/wwwroot/assets/@item.RestaurantImages')">
                                            <div class="listing-item-content" style="padding-top: 30px">
                                                @foreach (var tag in item.RestaurantToTags)
                                                 {
                                                    <div class="mb-1"><span class="badge badge-pill badge-primary text-uppercase badge-cat">@tag.Tag.Name</span></div>
                                                 }
                                                <h3 style="text-align: center"><a asp-controller="Restaurant" asp-action="Detail" asp-route-id="@item.Id">@item.Name</a></h3>
                                                <p class="mb-0 text-center"> <small>@item.Address</small></p>
                                                <span text-uppercase">
                                                    @if ((item.StartTime.Hour < DateTime.Now.Hour && item.StartTime.Minute <= DateTime.Now.Minute) && (item.EndTime.Hour > DateTime.Now.Hour && item.EndTime.Minute <= DateTime.Now.Minute))
                                                     {
                                                        <span class="badge badge-pill list-banner badge-success">Open</span> }
                                                     else
                                                     {
                                                        <span class="badge badge-pill list-banner badge-danger">Closed</span>}
                                                </span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="block-space bg-primary">
    <div class="container">
        <div class="block-head text-center mb-5">
            <h2 class="head-line text-white display-3">
                @Model.Setting.DreamTitle
            </h2>
            <div class="col-12 col-md-7 mx-auto pb-3">
                <p class="lead mt-2 head-desc text-white">@Model.Setting.DreamSubTitle</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row row-grid mt-5">
            <div class="col-lg-4 text-center">
                <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
                    <i class="fa fa-search"></i>
                </div>
                <h5 class="text-white mt-3">Find Interesting Place</h5>
                <p class="text-white mt-3">Proin dapibus nisl ornare diam varius tempus. Aenean a quam luctus, finibus tellus ut, convallis eros sollicitudin turpis.</p>
            </div>
            <div class="col-lg-4 text-center">
                <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
                    <i class="fa fa-phone-square"></i>
                </div>
                <h5 class="text-white mt-3">Contact a Few Owners</h5>
                <p class="text-white mt-3">Maecenas pulvinar, risus in facilisis dignissim, quam nisi hendrerit nulla, id vestibulum metus nullam viverra porta purus.</p>
            </div>
            <div class="col-lg-4 text-center">
                <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
                    <i class="fa fa-user-plus"></i>
                </div>
                <h5 class="text-white mt-3">Make a Reservation</h5>
                <p class="text-white mt-3">Faucibus ante, in porttitor tellus blandit et. Phasellus tincidunt metus lectus sollicitudin feugiat pharetra consectetur.</p>
            </div>
        </div>
    </div>
</div>
<div class="block-space bg-secondary">
    <div class="block-head text-center mb-5">
        <h2 class="head-line display-3">
            Recent Blog
        </h2>
        <p class="lead mt-2 head-desc">Added Recently</p>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="row row-grid">
                    @foreach (var item in Model.Blogs)
                    {
                        <div class="col-lg-4">
                            <div class="card card-lift--hover shadow border-0" style="height:550px">
                                <img class="img-fluid" src="~/Uploads/@item.Image" alt="list-logo">
                                <div class="card-body py-4">
                                    <h5>@item.Name</h5>
                                    <p>@item.CreatedDate.ToString("dd MMMM yyyy")</p>
                                    <p class="description mb-4">@item.Title</p>
                                    <a class="btn btn-primary" asp-controller="BlogList" asp-action="Detail" asp-route-id="@item.Id">Read More</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>